.wrapper {
    display: block;
    width: 90%;
    margin: auto;
}

.header {
    padding: 32px 0;
}

.divider {
    background-color: #262626;
    width: 24px;
    height: 3px;
    margin: 16px 0;
}

.content {
    margin: auto;
    max-width: 800px;
}

.grid {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 16px;
}

.card {
    height: 100%;
}

.croppedImage {
    display: block;
    min-width: 270px;
    height: 350px;
    object-fit: cover;
}

.searchResults {
    display: flex;
    flex-direction: column;
}

.politicianPage {
    margin: auto;
    max-width: 900px;
    padding: 16px 8px;
    background: #ffffff;
    border-radius: 2px;
}

.politicianDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.politicianDetails {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.politicianImage {
    width: 90%;
    max-width: 400px;
    flex: 0;
}

.politicianGeneralInfo, .politicianSocials {
    padding: 4px 16px;
}

.politicianBio {
    width: 100%;
}

@media (min-width: 768px) {
    .wrapper {
        width: 80%;
    }

    .politicianDetails {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly; 
        text-align: left;
    }
}