.nav {
	display: flex;
	height: 64px;
}

.leftNav {
	flex: 0;
	display: block;
}

.centerNav {
	display: none;
	flex: 0;
}

.rightNav {
	flex: 1;
	text-align: right;
}

.logo {
	width: 168px;
	position: relative;
	z-index: 1;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

@media (min-width: 576px) {
}

@media (min-width: 992px) {
	.leftNav {
		flex: 0;
	}

	.centerNav {
		display: block;
		flex: 1;
		align-items: flex-end;
	}

	.rightNav {
		flex: 0;
		display: none;
	}

	.hamburger {
		visibility: hidden;
	}
}

@media (min-width: 1200px) {
}
