.nav {
	display: flex;
}

.leftNav {
	display: none;
	flex: 0;
}

.rightNav {
	flex: 1;
	text-align: right;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
	.leftNav {
		display: block;
		flex: 1;
	}

	.rightNav {
		flex: 0;
	}

	.hamburger {
		visibility: hidden;
	}
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}