.circle_headshot {
    object-fit: cover !important;
    width: 250px !important;
    height: 250px !important;
    border-radius: 50% !important;
    margin: 25px !important;
    display: block !important;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 16px auto;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}