.circle_headshot {
    object-fit: cover !important;
    width: 250px !important;
    height: 250px !important;
    border-radius: 50% !important;
    margin: 25px !important;
    margin-bottom: 0px !important;
    display: block !important;
}

.title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    font-weight: bold;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 16px auto;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 300px;
    height: 300px;
    margin: 16px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0,0,0,.2);
    background-color: white;
    padding: 25px;
}